
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script defer src="https://smokektech.blob.core.windows.net/web/all.min.js"></script>
    <link href="https://smokektech.blob.core.windows.net/web/index.css" rel="stylesheet">
</head>
<body>
    <script src="https://smokektech.blob.core.windows.net/web/app.js"></script>
</body>
</html>
